@model IEnumerable<DealRated.Models.Coupon>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">All Coupon Details</h1>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New Coupon</a>
</p>
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @if (item.Status)
                {
                    <p class="font-weight-bolder">Active</p>
                }
                else
                {
                    <p class="font-weight-bolder">Not Active</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CouponID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
